<div id="tree" class="span-24">
  <div id="root" class="wrapper">
  </div>
</div>

<div id="selected_root" class="wrapper" style="display:none">
</div>

<div id="forfancybox" ></div>

<div id="toolbar" class="span-24">
  <a id="package" href="#forfancybox">
    <img src="/images/logo.png" />
  </a>
</div>


