
div.wrapper {
  padding-left: 1em;
}


div.node a.select {
  padding-right: 0.5em;
}

div.node a.open {
}

div.node {
  border: 1px solid #fc0;
}

div.selected {
  background-color: #fc0;
}

div#loader {
  display: none;
  position: fixed;
}

div.part_selected {
  background-color: gray;
}

#selected_root div {
  display: none;
}

#selected_root div.wrapper {
  display: block;
}

#selected_root  div.selected, #selected_root div.part_selected {
  display: block;
}
